:root {
    --tomato: hsl(4, 100%, 67%);
    --dark-slate: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
}

@font-face {
    font-family: "roboto";
    src: url("./assets/fonts/Roboto-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
width: 100vw;
height: 100vh;
background-color: var(--dark-slate);
display: flex;
justify-content: center;
align-items: center;
font-size: 16px;
font-family: "roboto";
color:var(--dark-slate);
}

.container{
    background-color: var(--white);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.form-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.title{
    font-size: 48px;
}

.subtitle{
    margin: 20px 0;
}

ul{
    padding: 10px 0;
}

ul li {
    list-style-type: none;
}

ul li::before{
    content: url("./assets/images/icon-list.svg");
    width: 12px;
    padding-right: 10px;
}

